.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column; /*header의 title과 text가 좌우가 아닌,
  위 아래로 놓이고 싶을 때*/
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
/*.login-form__input
.login-form__btn
.login-form__a
*/

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

/*css not() input type이 submit이 아닌 경우
  border-bottom과 transition이 적용*/
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 15px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /*색상을 아버지로부터 받아옴 상속*/
  font-size: 13px;
}
